* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 123, 0);
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: brown;
}

.logo {
  font-size: 50px;
  color: aliceblue;
  margin: 10px;
}

nav {
  font-size: large;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: grey;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: brown;
  padding: 15px;
}

img {
  height: 300px;
  width: 300px;
  margin: 10px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.text-content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
.input {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
}

.search-input {
  width: 205px;
  height: 40px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  float: left;
  box-shadow: 19px 21px 53px rgba(46, 46, 46, 0.66);
  padding-right: 10px;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

.search-btn {
  width: 100px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  background-color: #014280;
  color: #fff;
}
